<div class="modal">
    <mat-card class="card">
        <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <h2>Sign Up</h2>
                <mat-error *ngIf="!loginValid">
                    The username and password were not recognized
                </mat-error>
                <mat-form-field>
                    <input matInput placeholder="UserName" [(ngModel)]="userName" name="userName" required>
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="UserID" [(ngModel)]="userID" name="userID" required>
                    <mat-error>
                        Please provide a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
                    <mat-error>
                        Please provide a valid password
                    </mat-error>
                </mat-form-field>
                <div class="buttons">
                    <button mat-raised-button color="primary" routerLink="/signin">Sign In</button>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid || confirmPassword !== password">Sign Up</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>